html, body { 
  padding: 0; 
  margin: 0; 
}
.py-5 h1 {
  text-align: center;
  border-bottom: 1px solid #eaecef;
  padding-bottom: 20px;
}
#app {
  margin: 0 auto;
  width: 100%;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: -moz-flex;
  display: flex;

  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -moz-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;

  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  flex-wrap: wrap;
}

.test1, .test2 {
  background-color: #39495C;
  color: #64B587;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  margin-top: 10px;
  resize: both;
  overflow: auto;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: -moz-flex;
  display: flex;


  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -moz-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -moz-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
