html, body { 
  padding: 0; 
  margin: 0; 
}
.py-5 h1 {
  text-align: center;
  border-bottom: 1px solid #eaecef;
  padding-bottom: 20px;
}
#app {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 700px;
}

.test1, .test2 {
  background-color: #39495C;
  color: #64B587;
  width: 180px;
  height: 180px;
  margin: 0 auto;
  resize: both;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
